    @import url('https://fonts.googleapis.com/css2?family=Gloock&family=Lobster&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,600&family=Mynerve&display=swap');
    /*-------body---------*/
    
    body {
        background-image: linear-gradient(135deg, #FFE2CB, #FFFFFF);
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    /*-------Navbnars---------*/
    
    .navbar-links {
        margin-left: 65%;
        font-size: 25px;
        letter-spacing: 1px;
        font-family: monospace;
    }
    
    .nav-link.colour {
        color: #814f0c;
    }
    
    .nav-link.colour:hover {
        color: #ff914D;
    }
    
    .navbar-logo {
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
        height: 75px;
        border-radius: 20px;
    }
    
    a.nav-link.colour.active {
        color: #ff914D;
        ;
    }
    
    .theo-nav-div {
        background-color: rgb(119, 84, 63);
        height: 60px;
        width: 150px;
    }
    /*-------Index.html/Video och text div---------*/
    
    .vid-and-text-div {
        margin-left: 0;
        margin-bottom: 0;
        padding-left: 0;
        padding-bottom: 0;
    }
    /*-------Index.html/2 div som skapar en mönster---------*/
    
    .colour-div {
        right: 0px;
        bottom: 20%;
        width: 40%;
        height: 60%;
        margin-top: 30px;
        background-color: #ecdbcf;
        position: absolute;
        opacity: 75%;
        z-index: 0;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }
    
    .colour2-div {
        right: 0px;
        bottom: 0%;
        width: 30%;
        height: 60%;
        margin-top: 30px;
        background-color: #e6bda0;
        position: absolute;
        opacity: 50%;
        z-index: 0;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }
    /*-------Index.html/Video och text---------*/
    
    .vid-div {
        padding-top: 20px;
        padding-right: 20px;
        background-color: #ecdbcf;
        border-top-right-radius: 25px;
        width: 50%;
    }
    
    video {
        border-top-right-radius: 25px;
        box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.2);
    }
    
    .text-div {
        position: absolute;
        top: 35%;
        left: 35%;
    }
    
    .name-tag {
        font-size: 60px;
        letter-spacing: 2px;
        font-family: monospace;
        margin-bottom: 0px;
        color: #814f0c;
        text-align: center;
    }
    
    .career-tag {
        letter-spacing: 3px;
        text-align: center;
        font-size: 35px;
        color: #4d4d4d;
    }
    
    .home-text {
        font-size: 25px;
        letter-spacing: 2px;
        margin: 20px;
        font-family: revert;
        text-align: center;
        color: #272727;
    }
    /*-------experience.html/background---------*/
    
    .overlay {
        height: 100%;
        background: rgba(250, 250, 250, 0.5);
        z-index: 2;
        max-width: 100vw;
        width: 100%;
    }
    
    .wrapper {
        margin-top: 100px;
        height: 200vh;
        background: url("../images/computer.jpg") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: 1;
    }
    
    .wrapper2 {
        height: 200vh;
        background: url("../images/warehouse.jpg") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: 1;
    }
    
    .wrapper3 {
        height: 200vh;
        background: url("../images/cooking.jpg") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: 1;
        position: relative;
    }
    /*-------Index.html/Div som beskriver min coding erfarenhet---------*/
    
    .coding-info {
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
        background-color: #ff914d79;
        width: 50%;
        margin-top: 3%;
        margin-left: 45%;
        margin-right: 20px;
        border-radius: 50px;
        padding: 20px 10px 20px 10px;
        border: 4px solid rgb(163, 153, 143, .3);
    }
    
    .interest-h1 {
        font-family: 'Lobster', cursive;
        letter-spacing: 3px;
        text-align: center;
        font-size: 50px;
        color: #e14f4f;
    }
    
    .interest-p {
        font-size: 24px;
        letter-spacing: 2px;
        margin: 20px;
        font-family: revert;
        text-align: center;
        color: #272727;
    }
    /*-------experience.html/Div som beskriver min warehouse erfarenhet---------*/
    
    .warehouse-info {
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
        text-align: center;
        width: 45%;
        margin-top: 3%;
        border-radius: 50px;
        padding: 20px 10px 20px 10px;
        background-color: #ff914d79;
        border: 4px solid rgb(163, 153, 143, .3);
    }
    /*--experience.html/divs som håller animation divs som ha skolor och arbetsgivare--*/
    
    .div-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        overflow-x: hidden
    }
    /*-------experience.html/animation divs som ha skolor och arbetsgivare---------*/
    
    .div {
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
        height: 300px;
        width: 40%;
        justify-content: center;
        background-color: #ff914d79;
        border: 4px solid rgb(163, 153, 143, .3);
        columns: white;
        margin-top: 150px;
        border-radius: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .div-left {
        margin-right: 75px;
    }
    
    .div-right {
        margin-left: 75px;
    }
    
    .div.code-div {
        height: 100%;
        padding-bottom: 20px;
    }
    /*-------experience.html/arbetsgivare animatiomn div---------*/
    
    .warehouse-div.div {
        background-color: #fff8f39d;
    }
    
    .previous-employ {
        display: inline-grid;
    }
    /*-------experience.html/animatiomn div H1---------*/
    
    .skills {
        font-family: 'Lobster', cursive;
        letter-spacing: 3px;
        text-align: center;
        font-size: 40px;
        color: #e14f4f;
        margin-top: 5%;
        margin-bottom: 15px;
    }
    /*-------experience.html/före arbetsgivare div h1---------*/
    
    .pre-skills {
        margin-bottom: 0;
    }
    /*-------experience.html/arbetsgivare datum---------*/
    
    .experience-dates {
        font-family: 'Gloock', serif;
        letter-spacing: 2px;
        color: #80776b;
    }
    /*-------experience.html/kod erfarenhet---------*/
    
    .experience-points {
        font-family: monospace;
        font-size: 25px;
        line-height: 30px;
        margin-top: 3%;
    }
    
    ul {
        padding: 0;
    }
    
    li {
        margin-top: 10px;
    }
    /*-------experience.html/kod skolor länkar---------*/
    
    .info-links {
        font-size: 25px;
        color: #ff914D;
        text-shadow: 0 0 rgb(102, 102, 102);
    }
    
    .info-links:hover {
        color: #815720;
    }
    /*-------experience.html/jobb länkar---------*/
    
    .work-logo {
        width: 50%;
        margin-top: 8%;
    }
    /*-------experience.html/jobb länkar ändra när man hover över---------*/
    
    .work-logo:hover {
        background-color: #ff914d79;
        padding: 10px;
        border-radius: 15px;
        border: 2px solid rgb(163, 153, 143, .3);
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    }
    
    .previous-logo {
        width: 30%;
    }
    
    .previous-logo:hover {
        background-color: #ff914d79;
        padding: 10px;
        border-radius: 15px;
        border: 2px solid rgb(163, 153, 143, .3);
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    }
    /*-------experience.html/kok erfarenheter div---------*/
    
    .cooking-info {
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
        text-align: center;
        width: 45%;
        margin-top: 3%;
        border-radius: 50px;
        padding: 20px 10px 20px 10px;
        background-color: #ff914d79;
        border: 4px solid rgb(163, 153, 143, .3);
        margin-left: 17%;
    }
    /*-------experience.html/animation div med länk till contact.html---------*/
    
    .cooking-contact {
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
        text-align: center;
        width: 400px;
        height: 200px;
        border-radius: 50px;
        padding: 20px 10px 20px 10px;
        background-color: #ff914d79;
        position: absolute;
        bottom: 35px;
        right: 50px;
        padding-bottom: 10px;
    }
    
    .contact-a {
        color: #e14f4f;
        text-decoration: none;
    }
    
    .contact-a:hover {
        color: #814f0c;
    }
    
    .cooking-contact-p.interest-p {
        margin-top: 0px;
        margin-bottom: 20px;
        font-family: 'Mynerve', cursive;
        font-size: 28px;
    }
    
    .contact-smile {
        color: #ff914D;
    }
    /*-------contact.html/form div---------*/
    
    .form-container {
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
        background-color: #ecdbcf;
        width: 60%;
        padding: 20px;
        border-radius: 25px;
        z-index: 5;
        margin: 40px auto;
    }
    /*-------contact.html/background bild---------*/
    
    .contact-wrapper {
        height: 110vh;
        background: url("../images/contact.jpg") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: 1;
    }
    /*-------contact.html/H1---------*/
    
    .contact-h1 {
        font-family: monospace;
        letter-spacing: 3px;
        text-align: center;
        font-size: 35px;
        color: #814f0c;
    }
    /*-------contact.html/p---------*/
    
    .contact-p {
        font-family: monospace;
        font-size: 125%;
        color: #434343;
    }
    /*-------contact.html/namn, email etc---------*/
    
    .form-label {
        color: #814f0c;
        font-size: 100%;
        display: flex;
        letter-spacing: 1px;
    }
    
    .form-control {
        background: white;
    }
    /*-------contact.html/form button---------*/
    
    button#sub-but {
        background-color: #ff914D;
        border-color: #ff914D;
        letter-spacing: 1px;
        box-shadow: 2px 2px 2px rgb(0 0 0 / 20%);
        margin-left: 87%;
        margin-top: 10px;
    }
    /*-------Footer till varje sida---------*/
    
    footer {
        margin-top: auto;
        text-align: center;
        font-size: 15px;
        letter-spacing: 2px;
        border-top: 2px solid rgb(163, 153, 143, .3);
        padding-top: 15px;
    }
    /*-------Footer/Social länkar---------*/
    
    .social-links {
        font-size: 20px;
        letter-spacing: 5px;
        color: #814f0c;
        margin-bottom: 1%;
    }
    /*-------Footer/namn/github länk---------*/
    
    .theo-tag {
        text-decoration-line: none;
        color: #ff914D;
    }
    
    .social-links:hover {
        color: #ff914D;
    }
    /*-------Responsiveness till olika storlek---------*/
    
    @media (max-width: 1149px) {
        /* Navbar */
        .navbar-links {
            margin-left: 55%;
            position: relative;
            z-index: 3;
        }
        .navbar-logo {
            height: 60px;
        }
        /* contact.html */
        .contact-wrapper {
            height: 105vh;
        }
        /* experience.html */
        .wrapper {
            margin-top: 80px
        }
        .coding-info {
            margin-top: 11%;
        }
        .warehouse-info {
            margin-top: 11%;
        }
        .cooking-info {
            margin-top: 11%;
        }
        .div-left {
            margin-right: 30px;
        }
        .div-right {
            margin-left: 30px;
        }
        .interest-p {
            font-size: 16px;
            letter-spacing: 1px;
        }
        .interest-h1 {
            font-size: 40px;
            letter-spacing: 2px;
        }
        .skills {
            font-size: 40px;
            letter-spacing: 2px;
        }
        .experience-dates {
            font-size: 20px;
        }
        .experience-points {
            font-size: 20px;
            padding-left: 0px;
            padding-right: 0px;
        }
        .info-links {
            font-size: 20px;
        }
        .cooking-contact-p.interest-p {
            font-size: 20px;
            letter-spacing: 1px;
        }
        .cooking-contact {
            width: 300px;
            height: 150px;
        }
    }
    
    @media (max-width: 1000px) {
        /* experience.html */
        .wrapper {
            height: 110vh;
        }
        .wrapper2 {
            height: 100vh;
        }
        .wrapper3 {
            height: 100vh;
        }
    }
    
    @media (max-width: 991px) {
        /* index.html */
        .colour-div {
            display: none;
        }
        .vid-and-text-div {
            display: contents;
        }
        .theo-vid {
            border-bottom-right-radius: 25px;
            padding-top: 10%;
            box-shadow: none;
        }
        .vid-div {
            width: 90%;
            position: absolute;
            bottom: 84px;
            left: 0px;
            height: 70%;
        }
        .colour2-div {
            display: none;
        }
        .text-div {
            top: 25%;
        }
        /* contact.html */
        .form-container {
            width: 90%;
        }
        .contact-h1 {
            font-size: 27px;
        }
        .contact-p {
            font-size: 18px;
        }
        /* experience.html */
        .code-div {
            width: 450px;
            margin-top: 100px;
        }
        .warehouse-div {
            margin-top: 200px;
            height: 250px;
        }
        .coding-info {
            margin-top: 7%;
        }
        .warehouse-info {
            margin-top: 11%;
            width: 60%;
        }
        .cooking-info {
            margin-top: 7%;
        }
        .previous-logo {
            width: 25%;
        }
        .work-logo {
            margin-top: 20px;
            width: 40%;
        }
    }
    
    @media (max-width: 760px) {
        /* nav länkar */
        .nav-link {
            padding: 0;
        }
        .navbar-logo {
            height: 50px;
        }
        /* footer */
        .copyright-text {
            padding: 0 15px;
        }
        /* index.html */
        .theo-vid {
            width: 80%;
            border-bottom-right-radius: 25px;
        }
        .vid-div {
            width: 100%;
            height: 60vh;
        }
        .text-div {
            top: 20%;
        }
        .name-tag {
            font-size: 40px;
        }
        .career-tag {
            font-size: 27px;
        }
        .home-text {
            font-size: 20px;
        }
        /* contact.html */
        .form-container {
            width: 95%;
        }
        button#sub-but {
            margin-left: 81%;
        }
        /* experience.html */
        .wrapper {
            height: 130%;
        }
        .wrapper2 {
            height: 130%;
        }
        .wrapper3 {
            height: 80%;
        }
        li {
            margin-top: 5px;
            font-size: 20px;
            line-height: 25px;
        }
        .coding-info {
            margin-top: 11%;
            margin-left: 0px;
            margin-right: 0px;
            border-radius: 0px;
            width: 100%;
        }
        .skills {
            font-size: 40px;
            letter-spacing: 2px;
        }
        .work-logo {
            margin-top: 20px;
        }
        .previous-logo {
            width: 25%;
        }
        .experience-dates {
            font-size: 18px;
        }
        .experience-points {
            line-height: 20px;
        }
        .interest-h1 {
            font-size: 40px;
        }
        .interest-p {
            margin: 5px;
        }
        footer {
            font-size: 10px;
        }
        .warehouse-info {
            margin-top: 11%;
            margin-left: 0px;
            margin-right: 0px;
            border-radius: 0px;
            width: 100%;
        }
        .warehouse-div {
            margin-top: 225px;
        }
        .cooking-info {
            margin-top: 11%;
            margin-left: 0px;
            margin-right: 0px;
            border-radius: 0px;
            width: 100%;
        }
        .div-container {
            flex-direction: column;
            margin-top: 50px;
            padding: 0;
        }
        .div {
            width: 100%;
            margin: 0;
            margin-bottom: 40px;
            border-radius: 0px;
        }
        .div-left {
            margin-right: 0px;
        }
        .div-right {
            margin-left: 0px;
        }
    }
    
    @media (max-width: 595px) {
        /* index.html */
        .vid-div {
            width: 100%;
            height: 100%;
            position: unset;
        }
        .name-tag {
            font-size: 30px;
        }
        .career-tag {
            font-size: 19px;
        }
        .home-text {
            font-size: 15px;
            margin-top: 5px;
        }
        /* contact.html */
        button#sub-but {
            margin-left: 70%;
        }
        .contact-wrapper {
            height: 115vh;
        }
        /* experience.html */
        .wrapper {
            height: 150vh;
        }
        .wrapper2 {
            height: 140vh;
        }
        .wrapper3 {
            height: 85vh;
        }
    }
    
    @media (max-width: 420px) {
        /* index.html */
        .vid-div {
            width: 100%;
            height: 60vh;
            position: absolute;
        }
        .theo-vid {
            width: 65%;
            padding-top: 0;
        }
        .vid-div {
            position: absolute;
        }
        /* experience.html */
        .wrapper {
            height: 200vh;
        }
        .wrapper2 {
            height: 170vh;
        }
        .wrapper3 {
            height: 105vh;
        }
        .cooking-contact {
            right: 30px;
        }
        .contact-wrapper {
            height: 130vh;
        }
    }
    
    @media (max-width: 375px) {
        .theo-vid {
            width: 60%;
        }
    }
    
    @media (max-width: 300px) {
        body {
            height: 120vh;
        }
        /* index.html */
        .home-text {
            font-size: 12px;
        }
        /* experience.html */
        .wrapper {
            height: 230vh;
        }
        .wrapper2 {
            height: 210vh;
        }
        .wrapper3 {
            height: 140vh;
        }
        .cooking-contact {
            width: 80%;
            height: 180px;
            right: 30px;
        }
        .contact-wrapper {
            height: 140vh;
        }
    }